name: Build & Push Production Docker Image

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:

  unit-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version: '1.25.4'
    - name: Install dependencies for go
      run: go mod download
    - name: Unit Testing
      run: go test -v ./...
    - name: Generate coverage report
      run: go test -coverprofile=coverage.out ./...
    - name: Upload coverage report
      uses: actions/upload-artifact@v5
      with:
        name: coverage-report
        path: coverage.out

  build-and-push:
    needs: [unit-test]
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' || github.ref != 'refs/heads/main'
    steps:
    - uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push :staging tag
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        platforms: linux/amd64,linux/arm64
        push: true
        tags: ghcr.io/${{ github.repository }}:staging

    - name: Build and push :latest tag
      if: github.ref == 'refs/heads/main'
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        platforms: linux/amd64,linux/arm64
        push: true
        tags: ghcr.io/${{ github.repository }}:latest
      
  deploy:
    needs: [build-and-push]
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' || github.ref != 'refs/heads/main'
    steps:
      - name: Retrieve kubeconfig from Vault
        id: import-secrets
        uses: hashicorp/vault-action@v3.3.0
        with:
          url: ${{ secrets.VAULT_ADDR }}
          method: approle
          roleId: ${{ secrets.VAULT_ROLE_ID }}
          secretId: ${{ secrets.VAULT_SECRET_ID }}
          secrets: kv/data/pipeline/k3s kubeconfig
          exportEnv: true

      - name: Save kubeconfig to file
        run: |
          mkdir -p $HOME/.kube
          echo '${{ steps.import-secrets.outputs.kubeconfig }}' > $HOME/.kube/config
          echo "KUBECONFIG=$HOME/.kube/config" >> $GITHUB_ENV

      - name: Restart Staging Deployment
        run: |
          kubectl -n staging rollout restart deployment wmb

      # Restart Deployment for Production (Only triggered if push to `main`)
      - name: Restart Production Deployment
        run: |
          kubectl -n production rollout restart deployment wmb
        if: github.ref == 'refs/heads/main'
